$elm-gray: #596277;
$elm-blue: #5FB4CB;
$elm-green: #8CD636;
$elm-yellow: #EEA400;

body { font-family: 'Droid Serif'; }
h1, h2, h3 {
font-family: 'Yanone Kaffeesatz';
font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
.remark-code.hljs {
    border: 5px solid #ccc;
    padding: 1.5em;
}

a { color: rgb(0,0,0); text-decoration: none; }

.title  { 
    ul { padding-left: 0; margin-left: 0; 
         li { list-style: none; 
         }
    }

    img { width: 200px; }
}

.horizon { 
    background: url('../images/fg-mountains.png'), #fff; 
    background-repeat: no-repeat;
    background-position: 50% 100%; 

    img { width: 150px; }

     table { 
         width: 100%; 
     }
}

.elm { 
    // background: url('../images/elm-logo.png'), #fff;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 95% 5%;
    p { text-align: center; 
        img { width: 90%; }
    }  

    &:before {
        content: "";
        position: absolute;
        height: 10px;
        width: 100%;
        background: url('../images/elm-background.svg');
        background-size: calc(100% + 30px);
        background-position: -10px 0;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
    }
}

.elm-horizon {
    p { text-align: center; 
        img { width: 80%; }
    }
}

.thanks {
    img { width: 200px; }
}