$elm-gray: #596277;
$elm-blue: #5FB4CB;
$elm-green: #8CD636;
$elm-yellow: #EEA400;

body { font-family: 'Droid Serif'; }
h1, h2, h3 {
font-family: 'Yanone Kaffeesatz';
font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
.remark-code.hljs {
    border: 5px solid #ccc;
    padding: 1.5em;
}

a { color: $elm-yellow; text-decoration: none; }

.remark-slide-content {
    &.title  { 
        ul { padding-left: 0; margin-left: 0; 
            li { list-style: none; 
            }
        }
    }

    &.horizon {
        &:before { display: none ; } 
        background: url('../images/fg-mountains.png'), #fff; 
        background-repeat: no-repeat;
        background-position: 50% 100%; 
    }

    &:before {
        content: "";
        position: absolute;
        height: 15px;
        width: 100%;
        background: url('../images/elm-background.svg');
        background-size: calc(100% + 30px);
        background-position: -10px 0;
        background-repeat: no-repeat;
        top: -1px;
        left: 0;
    }
}

.table {
    table {
        margin: 0 auto;
    }
    &.wide table { 
        width: 100%; 
    }
    &.medium table {
        width: 60%;
    }
    &.three-columns { 
        table {
            th, td { width: 33%; }
        }
    }   
}

.social-media {
    margin-top: 2em;
    .twitter, .github { width: 200px; display: inline-block; text-align: center;  
        .logo { display: block; 
            img { width: 30px; } 
        }
        a { clear: both; display: block; }
    }
}

.logo .horizon img { width: 120px; }
.logo .elm img { width: 120px; }

.diagram .ports img { width: 90%; }
.diagram .elm-horizon img { width : 700px; }

.image .elm-whale img { width: 200px; }